html, body {
	width: 100%;
	height: 100%;
	
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 5%;
	padding: 1% 0;
}

header nav {
	
}

header nav > ul {
	margin: 0;
	padding: 5px 40px;
	
	z-index: 995;
}

header nav > ul > li {
	position: relative;
	display: inline-block;
	width: 65px;
}

header nav > ul > li ul {
	display: none;
	position: absolute;
	top: 17px;
	left: 0px;
	
	width: 200px;
	padding: 5px;
	
	background: #FFF;
	border: 1px solid #222;
	
	z-index: 999;
}

header nav > ul li:hover > ul { display: block; }

header nav > ul > li ul > li {
	position: relative;
	list-style: none;
}

header nav > ul > li ul > li > span {
	display: inline-block;
	position: absolute;
	right: 5px;
}

main {
	width: 100%;
	height: 90%;
	
	margin: 0;
	padding: 0;
}

.previews {
	width: 100%;
	height: 50%;
	
	margin-bottom: 2%;
	
	text-align: center;
	font-size: 0;
}

.previews .preview {
	position: relative;
	display: inline-block;
	
	width: 32%;
	height: 100%;
	
	background: url(images/preview1.png) center center no-repeat;
	background-size: cover;
	
	border: 3px solid #222;
}

.previews .preview:after {
	content: "P";
	
	position: absolute;
    top: 7px;
    right: 7px;
	
    display: block;
    height: 20px;
    width: 20px;
	
    font-size: 18px;
    background: #CCC;
	
	box-shadow: 0px 0px 0px 2px #000;
    z-index: 9999;
}

.previews .preview + .preview {
	border-left: 0px;
}

.previews .preview#pone   { background-image: url(images/preview1.png); }
.previews .preview#ptwo   { background-image: url(images/preview2.jpg); }
.previews .preview#pthree { background-image: url(images/preview3.jpg); }

.previews .preview#pone:after   { content:"1"; }
.previews .preview#ptwo:after   { content:"2"; }
.previews .preview#pthree:after { content:"3"; }

.previews .preview.vidtrack1 { background-image: url(images/vidtrack1.jpg) !important; }
.previews .preview.vidtrack2 { background-image: url(images/vidtrack2.jpg) !important; }
.previews .preview.audtrack1 { background-image: url(images/audtrack1.png) !important; }
.previews .preview.audtrack2 { background-image: url(images/audtrack2.png) !important; }

.timeline {
	width: 90%;
	height: 30%;
	
	margin: 0 auto 2%;
	padding: 0;
	
	background: #555555;
}

.timeline .track {
	width: 98%;
	height: 20%;
	
	padding: 1% 1% 0;
	
	font-family: monospace;
	background: #DDDDDD;
}

.timeline .track.video { box-shadow: 0px 0px 5px 3px #FF0000 inset; }
.timeline .track.audio { box-shadow: 0px 0px 5px 3px #0066FF inset; }

footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	
	width: 98%;
	height: 7%;
	padding: 5px 1% 0;
	
	border-top: 2px #AAA;
	box-shadow: 0px -3px 5px #999;
}

footer button {
	width: 30px;
	height: 30px;
	
	background: url(images/play.png) center center no-repeat;
	background-size: cover;
}

footer button.play        { background-image: url(images/play.png); }
footer button.pause       { background-image: url(images/pause.png); }
footer button.stop        { background-image: url(images/stop.png); }
footer button.rewind      { background-image: url(images/rewind.png); }
footer button.fastforward { background-image: url(images/fastforward.png); }
footer button.start       { background-image: url(images/start.png); }
footer button.end         { background-image: url(images/end.png); }
footer span { display: inline-block; width: 30px; height: 30px; }

#dialogBox {
	display: none;
	position: absolute;
	top: 50%;
		margin-top: -75px;
	left: 50%;
		margin-left: -150px;
	
	width: 300px;
	height: 150px;
	
	text-align: center;
}

#dialogBox h1 {
	margin: 0px 0px 5px;
}

#dialogBox p {
	margin: 0px 0px 10px;
}

#dialogBox button {
	
}

#dialogBox button#close {
	position: absolute;
	top: 5px;
	right: 5px;
}