html {
	
}

body {
	
}

.previews {
	width: 100%;
	height: 500px;
	
	text-align: center;
	font-size: 0;
}

.previews .preview {
	display: inline-block;
	
	width: 32%;
	height: 500px;
	
	background: url(images/preview1.png) center center no-repeat;
	background-size: cover;
	
	border: 3px solid #222;
}

.previews .preview + .preview {
	border-left: 0px;
}

.previews .preview.one { background-image: url(images/preview1.png); }
.previews .preview.two { background-image: url(images/preview2.jpg); }
.previews .preview.three { background-image: url(images/preview3.jpg); }