html {
	
}

body {
	
}

header {
	width: 100%;
}

header nav {
	
}

header nav > ul {
	padding: 5px 40px;
}

header nav > ul > li {
	position: relative;
	display: inline-block;
	width: 65px;
}

header nav > ul > li ul {
	display: none;
	position: absolute;
	top: 17px;
	left: 0px;
	
	width: 200px;
	padding: 5px;
	
	background: #FFF;
	border: 1px solid #222;
}

header nav > ul li:hover > ul { display: block; }

header nav > ul > li ul > li {
	position: relative;
	list-style: none;
}

header nav > ul > li ul > li > span {
	display: inline-block;
	position: absolute;
	right: 5px;
}

.previews {
	width: 100%;
	height: 500px;
	
	text-align: center;
	font-size: 0;
}

.previews .preview {
	display: inline-block;
	
	width: 32%;
	height: 500px;
	
	background: url(images/preview1.png) center center no-repeat;
	background-size: cover;
	
	border: 3px solid #222;
}

.previews .preview + .preview {
	border-left: 0px;
}

.previews .preview.one { background-image: url(images/preview1.png); }
.previews .preview.two { background-image: url(images/preview2.jpg); }
.previews .preview.three { background-image: url(images/preview3.jpg); }